@import "tailwindcss";

summary::-webkit-details-marker {
  display: none
}

body {
  font-family: "Inter", sans-serif;
}

.pageWidth{
  @apply lg:max-w-6xl mx-auto px-3 lg:px-10 
}

.innerPageWidth{
  @apply max-w-4xl mx-auto px-3 lg:px-0
}


@theme {
  --color-primary: #005055;


  --font-montserrat: "Montserrat", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;

  --text-xxs: '10px'
}

.login_width{
  @apply max-w-xs w-full mx-auto px-3 md:px-0
}
